.note_main {
  width: 90%;

  margin: auto;
  height: 520px;
  /* border: 2px solid red; */
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: scroll;
}

.note_box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  /* flex-direction: row; */
  gap: 20px;
  overflow: scroll;
  /* border: 2px solid black; */
}
.note_box h2 {
  font-size: 25px;
  margin-top: 10px;
}

@media only screen and (max-width: 767px) {
  .note_main {
    height: 80vh;
  }
}
